<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignUp</display-name>
    <servlet-name>UserSignUp</servlet-name>
    <servlet-class>UserSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignUp</servlet-name>
    <url-pattern>/UserSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nationalLang</display-name>
    <servlet-name>nationalLang</servlet-name>
    <servlet-class>nationalLang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nationalLang</servlet-name>
    <url-pattern>/nationalLang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>officialLang</display-name>
    <servlet-name>officialLang</servlet-name>
    <servlet-class>officialLang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>officialLang</servlet-name>
    <url-pattern>/officialLang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userSignUp</display-name>
    <servlet-name>userSignUp</servlet-name>
    <servlet-class>userSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userSignUp</servlet-name>
    <url-pattern>/userSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLogIn</display-name>
    <servlet-name>userLogIn</servlet-name>
    <servlet-class>userLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogIn</servlet-name>
    <url-pattern>/userLogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postWord</display-name>
    <servlet-name>postWord</servlet-name>
    <servlet-class>postWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postWord</servlet-name>
    <url-pattern>/postWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postRetrieve</display-name>
    <servlet-name>postRetrieve</servlet-name>
    <servlet-class>postRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postRetrieve</servlet-name>
    <url-pattern>/postRetrieve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieLogin</display-name>
    <servlet-name>CookieLogin</servlet-name>
    <servlet-class>CookieLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieLogin</servlet-name>
    <url-pattern>/CookieLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.prog.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.prog.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.prog.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>post</display-name>
    <servlet-name>post</servlet-name>
    <servlet-class>com.prog.post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProfile</display-name>
    <servlet-name>updateProfile</servlet-name>
    <servlet-class>updateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfile</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logger</display-name>
    <servlet-name>Logger</servlet-name>
    <servlet-class>com.prog.Logger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logger</servlet-name>
    <url-pattern>/Logger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileUpdate</display-name>
    <servlet-name>profileUpdate</servlet-name>
    <servlet-class>com.prog.profileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileUpdate</servlet-name>
    <url-pattern>/profileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionLike</display-name>
    <servlet-name>actionLike</servlet-name>
    <servlet-class>com.prog.actionLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionLike</servlet-name>
    <url-pattern>/actionLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadFeed</display-name>
    <servlet-name>loadFeed</servlet-name>
    <servlet-class>loadFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadFeed</servlet-name>
    <url-pattern>/loadFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadInFeed</display-name>
    <servlet-name>loadInFeed</servlet-name>
    <servlet-class>com.slashcode.home.loadInFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadInFeed</servlet-name>
    <url-pattern>/loadInFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkLogBeforeFeed</display-name>
    <servlet-name>checkLogBeforeFeed</servlet-name>
    <servlet-class>com.prog.checkLogBeforeFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkLogBeforeFeed</servlet-name>
    <url-pattern>/checkLogBeforeFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkLogBeforePost</display-name>
    <servlet-name>checkLogBeforePost</servlet-name>
    <servlet-class>com.prog.checkLogBeforePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkLogBeforePost</servlet-name>
    <url-pattern>/checkLogBeforePost</url-pattern>
  </servlet-mapping>
</web-app>