<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;800&family=Days+One&display=swap');
    </style>
    <link rel="icon" href="../../icons/w.png">
</head>
    <body>
        <nav id="navbar">
            <a href="/"><h2 id="title">wordjustword</h2></a>
        </nav>
        <nav id="sidenav">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/"><li>National Lang</li></a>
                <br/>
                <a href="/FinalProject/checkLogBeforeFeed"><li>Feed</li></a>
                <a href="/FinalProject/checkLogBeforePost"><li>Post</li></a>
                <br/>
                <a href="/FinalProject/Profile" method="post"><li>Profile</li></a>
            </ul>
        </nav>
    </body>
</html>